<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>\\serversvil01\testmac</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>SERVERSVIL01</MSDeployServiceURL>
    <DeployIisAppPath>OrdiniWeb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>sergey.akopov</UserName>
    <_SavePWD>false</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="NAVconnectionString" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SERVERSQL-1\SQL2017PROD;Initial Catalog=OrdiniWeb3;Persist Security Info=True;User ID=ordiniweb;Password=Web@v2013!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\NAVconnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SERVERSQL-1\SQL2017PROD;Initial Catalog=OrdiniWeb3;Persist Security Info=True;User ID=ordiniweb;Password=Web@v2013!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WORconnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SERVERSQL-1\SQL2017PROD;Initial Catalog=OrdiniWeb3;Persist Security Info=True;User ID=ordiniweb;Password=Web@v2013!" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WORconnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SERVERSQL-1\SQL2017PROD;Initial Catalog=OrdiniWeb3;Persist Security Info=True;User ID=ordiniweb;Password=Web@v2013!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BCconnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.20.132;Initial Catalog=BCSERVICE_PROD;Persist Security Info=True;User ID=paolo.lanzoni;Password=!EKmlP34g2" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BCconnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=192.168.20.132;Initial Catalog=BCSERVICE_PROD;Persist Security Info=True;User ID=paolo.lanzoni;Password=!EKmlP34g2" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BCconnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)NAVconnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WORconnectionString-Web.config Connection String" />
  </ItemGroup>
</Project>